/* Individual card styling */
.card {
  background-color: #3f8ac4;
  padding: 30px; /* Increased padding for more space inside */
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 300px; /* Adjusted width for bigger cards */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* Ensure padding and border do not affect the width */
}

/* Hover effect on cards */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(4, 7, 48, 0.7);
}

.card h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
}
