.header h2 {
  position: absolute;   /* Manually position inside .header */
  top: 230px;            /* distance from top of header */
  left: 540px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: .5px;
}
.header h1 {
  position: absolute;   /* Manually position inside .header */
  top: 0px;            /* distance from top of header */
  left: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: .5px;
}