*{
  user-select: none;
}
.signup-container {
  max-width: 450px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
  margin-top: 150px;
}

.signup-container h2 {
  
  text-align: center;
  color: #004080;
  margin-bottom: 25px;
}

.signup-form label {
  
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.signup-form button:hover {
  background-color: #002a5e;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.success {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}
