@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* src/index.css */

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /* background-color: #004080; */
  color: #333;
}

.App {
  text-align: center;
}